<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">

    <tr bgcolor="green">
        <b>
            <td>id</td>
            <td>Имя</td>
            <td>Фамилия</td>
        </b>
    </tr>
    {% for str in res %}
        <tr bgcolor="pink">
            <td>{{str.id}}</td>
            <td>{{str.name}}</td>
            <td>{{str.second_name}}</td>
        </tr>
    {%endfor%}
    <form action="/add" method="POST">
    <tr>
        <td><input type="text" value="" name="id"></td>
        <td><input type="text" description="имя" name="name"></td>
        <td><input type="text" value="" name="second_name"></td>
    </tr>
</table>
<input type="submit">
</form>

</body>
</html>