<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список вопросов</title>
</head>
<body>
<!--{{ result }}-->
<!--<hr>-->
<!--{% for i in result %}-->
<!--    {{i}}<br>-->
<!--{% endfor %}-->
<!--<hr>-->
<!--{% for i in result %}-->
<!--    {{i.ID}} | {{i.textquestion}} | {{i.selectone}} | {{i.selecttwo}} | {{i.selectthree}} | {{i.selectfour}} | {{i.answer}} <br>-->
<!--{% endfor %}-->
<!--<hr>-->
<table border="1">
    <tr>
        <td>id</td>
        <td>Вопрос</td>
        <td>ответ 1</td>
        <td>ответ 2</td>
        <td>ответ 3</td>
        <td>ответ 4</td>
        <td>номер правильного ответа</td>
        <td>Удалить</td>
        <td>Изменить</td>
    </tr>
    <form action="delete" method="post">
    {% for i in result %}
     <tr>
        <td>{{loop.index}}</td>
        <td>{{i.textquestion}}</td>
        <td>{{i.selectone}}</td>
        <td>{{i.selecttwo}}</td>
        <td>{{i.selectthree}}</td>
        <td>{{i.selectfour}}</td>
        <td>{{i.answer}}</td>
         <td><input type="radio" name="drone" value="{{i.ID}}" /> </td>
         <td><a href="http://127.0.0.1:5000/update/{{i.ID}}"> Изменить</a></td>
    </tr>
    {% endfor%}
</table>
<input type="submit" value="Удалить">
</form>
<a href="http://127.0.0.1:5000/addquestion">Добавить вопрос</a>
</body>
</html>